<div class="h3 p-2" routerLink=".." ><u>Back</u></div>
<div class="h1 px-4">Gestione campionato</div>

<div class="p-2 mt-5">
    <div class="d-flex align-items-center m-4">
        <div class="bg-white p-2 d-flex justify-content-center w-50">Pesi Statistiche</div>
        <button routerLink="modificaPesi" class="btn btn-primary rounded-pill text-black sovrapposto"><b>Modifica</b></button>
    </div>
    <div class="d-flex align-items-center m-4">
        <div class="bg-white p-2 d-flex justify-content-center w-50">Modifica squadre</div>
        <button routerLink="modificaSquadre" class="btn btn-primary rounded-pill text-black sovrapposto"><b>Modifica</b></button>
    </div>
    <div class="d-flex align-items-center m-4">
        <div class="bg-white p-2 d-flex justify-content-around align-items-center w-75">Calcola Giornata
            <select id="team" class="form-select mx-2 w-25" [formControl]="selected">
                <option *ngFor="let g of calcolabili" [ngValue]="g">
                  {{ g+1 }}
                </option>
            </select>
            <button class="btn btn-primary rounded-pill text-black"><b>Calcola!</b></button>
        </div>
        
    </div>
</div>
