<div class="d-flex justify-content-between">
    <div class="h3 p-2" routerLink=".." ><u>Back</u></div>
    <button type="button" class="m-4 btn btn-primary float-end d-flex justify-content-center"><div class="h2 m-0">INVIA!</div></button>
</div>

<div class="p-2 d-flex align-items-center">
    <div class="h2">Modulo: </div>
    <select class="form-select mx-1 w-25" [formControl]="selected">
        <option *ngFor="let m of moduli" [ngValue]="m">
          {{ m }}
        </option>
    </select>
</div>

<div class="col-12 p-3" style="height: 65%;">
    <app-formazione 
    [titolari]="titolari"
    [panchina]="panchina"
    [guardie]="guardie"
    [ali]="ali"
    [centri]="centri"
    [capitano]="capitano.value !== null ? capitano.value : { nome: '', ruolo: '' }"
    [sestoUomo]="sestoUomo.value !== null ? sestoUomo.value : { nome: '', ruolo: '' }"
    (insertEvent)="inserisciGiocatore($event, template)"
    ></app-formazione>
</div>

<div class="p-2 d-flex align-items-center">
    <div class="h4">Capitano: </div>
    <select class="form-select mx-2 w-50" [formControl]="capitano">
        <option *ngFor="let g of titolari" [ngValue]="g">
          {{ g.nome }}
        </option>
    </select>
</div>
<div class="p-2 d-flex align-items-center">
    <div class="h4">Sesto uomo: </div>
    <select class="form-select mx-2 w-50" [formControl]="sestoUomo">
        <ng-container *ngFor="let g of panchina" >
            <option *ngIf="g.nome != 'undefined'" [ngValue]="g">
                {{ g.nome }}
            </option>
        </ng-container>
    </select>
</div>
    
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Seleziona giocatori</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Contenuto del popup: elenco dei giocatori -->
    <ul class="p-1">
      <li *ngFor="let giocatore of giocatori" class="d-flex cursor-pointer" (click)="selectGiocatore(giocatore)">
        <app-giocatore class="w-100 card card-icon lift" 
        [nome]="giocatore.nome" 
        [ruolo]="giocatore.ruolo"
        *ngIf="giocatore.ruolo==toInsert.ruolo || toInsert.ruolo=='P'"
        ></app-giocatore>
      </li>
    </ul>
  </div>
</ng-template>

