<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-4 m-3 p-4">
            <app-icona 
                [tipo]="classifica"
            ></app-icona>
        </div>
        <div class="col-4 m-3 p-4">
            <app-icona 
                [tipo]="calendario"
            ></app-icona>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 m-3 p-4">
            <app-icona 
                [tipo]="statistiche"
            ></app-icona>
        </div>
        <div class="col-4 m-3 p-4">
            <app-icona 
            [tipo]="svincolati"
            ></app-icona>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 m-3 p-4">
            <app-icona 
                [tipo]="formazioni"
            ></app-icona>
        </div>
        <div class="col-4 m-3 p-4" *ngIf="ruolo=='AmministratoreLega'">
            <app-icona 
                [tipo]="settings"
            ></app-icona>
        </div>
    </div>
</div>