<a class="text-dark "><div class="h3 p-2" routerLink=".." ><u>Back</u></div></a>
<div class="h1 px-4">Classifica</div>
<div class="p-3">
    <table class="table table-bordered border border-1 border-black mt-5">
        <thead class="border border-2 border-black">
          <tr >
            <th scope="col" class="h5">Nome squadra</th>
            <th scope="col" class="h5 text-center">V</th>
            <th scope="col" class="h5 text-center">P</th>
            <th scope="col" class="h5">somma punteggi</th>
            <th scope="col" class="h5 text-center">PC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of squadre" routerLink="squadra/{{s.nome}}" >
            <td class="cliccable">{{s.nome}}</td>
            <td class="text-center">{{s.partiteVinte}}</td>
            <td class="text-center">{{s.partitePerse}}</td>
            <td >{{s.sommaPunteggi}}</td>
            <td class="fw-bold text-center">{{s.puntiClassifica}}</td>
          </tr>
        </tbody>
      </table>
</div>
