<a class="text-dark "><div class="h3 p-2" routerLink=".." ><u>Back</u></div></a>
<div class="h1 px-4">Classifica</div>
<div class="p-3">
    <table class="table table-bordered border border-1 border-black mt-5">
        <thead class="border border-2 border-black">
          <tr >
            <th scope="col" class="h5">Nome squadra</th>
            <th scope="col" class="h5 text-center">V</th>
            <th scope="col" class="h5 text-center">P</th>
            <th scope="col" class="h5">somma punteggi</th>
            <th scope="col" class="h5 text-center">PC</th>
          </tr>
        </thead>
        <tbody>
          <tr routerLink="squadra">
            <td>IngegneriadelSoftware</td>
            <td class="text-center">3</td>
            <td class="text-center">1</td>
            <td >654.3</td>
            <td class="fw-bold text-center">6</td>
          </tr>
          <tr>
            <td>tutti30L</td>
            <td class="text-center">2</td>
            <td class="text-center">2</td>
            <td>562.1</td>
            <td class="fw-bold text-center">4</td>
          </tr>
          <tr>
            <td>idisperati</td>
            <td class="text-center">2</td>
            <td class="text-center">2</td>
            <td>557.8</td>
            <td class="fw-bold text-center">4</td>
          </tr>
          <tr>
            <td>idisperati</td>
            <td class="text-center">1</td>
            <td class="text-center">3</td>
            <td>481.5</td>
            <td class="fw-bold text-center">2</td>
          </tr>
        </tbody>
      </table>
</div>
