/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
}

.background{
    background: url(assets/images/sfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


div#giocatori{
    max-height: 700px;
}