<div class="m-4 w-75 border border-black">
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Punti</div>
        <input type="text" [formControl]="punti" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Assist</div>
        <input type="text" [formControl]="assist" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Rimbalzo Offensivo</div>
        <input type="text" [formControl]="rimbOff" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Rimbalzo Difensivo</div>
        <input type="text" [formControl]="rimbDif" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Palla Recuperata</div>
        <input type="text" [formControl]="recuperate" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Palla Persa</div>
        <input type="text" [formControl]="perse" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Stoppata</div>
        <input type="text" [formControl]="stoppata" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Doppia doppia</div>
        <input type="text" [formControl]="doppiaDoppia" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Tripla doppia</div>
        <input type="text" [formControl]="triplaDoppia" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Quintetto base</div>
        <input type="text" [formControl]="quintetto" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Tiro Sbagliato</div>
        <input type="text" [formControl]="sbagliato" class="w-25 d-flex justify-content-center"/>
    </div>
    <div class="bg-white border border-black d-flex justify-content-between py-2 px-3" >
        <div>Tiro libero sbagliato</div>
        <input type="text" [formControl]="liberoSbagliato" class="w-25 d-flex "/>
    </div>
</div>