<div class="h3 p-2" routerLink=".." ><u>Back</u></div>
<div class="h1 px-4">Calendario</div>
<div class="p-3">
    <app-barra [content]="giornata" (next)="nextGiornata($event)" (previous)="previousGiornata($event)" ></app-barra>
    <table class="table table-bordered border border-1 border-black">
    
        <tbody>
          <tr>
            <td>Casa 1</td>
            <td class="fw-bold">121</td>
            <td class="fw-bold">107</td>
            <td>Ospite 1</td>
          </tr>
          <tr>
            <td>Casa 2</td>
            <td class="fw-bold">154</td>
            <td class="fw-bold">122</td>
            <td>Ospite 2</td>
          </tr>
          <tr>
            <td>Casa 3</td>
            <td class="fw-bold">91</td>
            <td class="fw-bold">113</td>
            <td>Ospite 3</td>
          </tr>
          <tr>
            <td>Casa 4</td>
            <td class="fw-bold">135</td>
            <td class="fw-bold">136</td>
            <td>Ospite 4</td>
          </tr>
        </tbody>
    </table>    
</div>