<div class="bg-white col border border-black d-flex justify-content-between py-2 px-3 w-100" >
    <img class="rounded-circle align-self-center  bg-secondary bg-opacity-10" src="../../../assets/giocatori/{{this.img | lowercase}}.png">
    <span class="align-self-center">{{this.nome}}</span>
    <span *ngIf="!enableStat" class="align-self-center fw-bold px-3">{{this.ruolo}}</span>
    <span *ngIf="enableStat" class="align-self-center fw-bold px-3">Stat</span>
    <img *ngIf="enableMarker" (click)="remove()" src="../../../assets/icone/delete_icon-icons.com_52378.png" class="marker d-flex align-self-center">
    <img *ngIf="enableAdd" (click)="add()" src="../../../assets/icone/add_icon.png" class="marker d-flex align-self-center">
</div>
